<h1>
  Department #<%= @department.id %> details
</h1>

<a href="/departments/<%= @department.id %>/edit">
  Edit department
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @department.name %>
  </dd>
</dl>

<dt>
    Number of courses
  </dt>
  <dd>
    <%= Course.where(department_id: @department.id).count %>
  </dd>

<a href="/delete_department/<%= @department.id %>">
  Delete department
</a>

<hr>

<a href="/departments">
  Go back
</a>

<div class="card mt-4">
  <div class="card-header">
    Courses
  </div>
  <ul class = "list-group list-group-flush">
    <% Course.where(department_id: @department.id).each do |course| %>
    <li class="list-group-item">
      <a href="/courses/<%= course.id %>">
        <%= course.title %>
      </a>
     </li>
    <% end %>
  </ul>

<div class="card mt-4">
  <div class="card-header">
     Add a new course
    </div>
    
    <form action="/create_course" method="post">
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @course.try(:title) %>">
  </div>
  
  <input type="hidden" name="department_id" value= "<%= @department.id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create course
  </button>
</form>
    
    
   
 