<h1>
  Course #<%= @course.id %> details
</h1>

<a href="/courses/<%= @course.id %>/edit">
  Edit course
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @course.title %>
  </dd>
</dl>


<dl>
  <dt>
    Department
  </dt>
  <dd>
    <a href= "/departments/<%= Department.find(@course.department_id).id %> ">
    <%= Department.find(@course.department_id).name %>
    </a>
  </dd>
</dl>

  <dt>
    Number of enrolled students
  </dt>
  <dd>
    <%= Enrollment.where(course_id: @course.id).count %>
  </dd>

<a href="/delete_course/<%= @course.id %>">
  Delete course
</a>

<hr>

<a href="/courses">
  Go back
</a>

<div class="card mt-4">
  <div class="card-header">
    Roster
  </div>
  <ul class = "list-group list-group-flush">
    <% Enrollment.where(course_id: @course.id).each do |enrollment| %>
    <li class="list-group-item">
      <a href="/students/<%= Student.find(enrollment.student_id).id %>">
        <%= Student.find(enrollment.student_id).first_name %>
        <%= Student.find(enrollment.student_id).last_name %>
      </a>
     </li>
    <% end %>
  </ul>
      
      

<div class="card mt-4">
  <div class="card-header">
     Enroll a new student
    </div>
    
    <form action="/create_enrollment" method="post">
      
    <input type="hidden" name="course_id" value= "<%= @course.id %>">
    
  
    <div class="form-group">
      <label for="student_id">
        Student
      </label>
  
      <%= select_tag("student_id", options_from_collection_for_select(Student.all, :id, :last_name, @enrollment.try(:student_id)), :class => "form-control") %>
        or <a href= "/students/new">Add a new student</a> first
    </div>
  
    <button class="btn btn-block btn-outline-secondary">
      Create enrollment
    </button>
  </form>

     
   